@model Mini_Project.Models.LoginVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="border: thick solid; border-color: crimson;background-color:antiquewhite;text-align:center;">
<head>
    <meta name="viewport" content="width=device-width" />
    <title> SignIn </title>
</head>
<body >
    <h1> SignIn </h1>
    <div> 
        @using (Html.BeginForm())
            {
            <div>
                @Html.ValidationSummary(true)
            </div>
                <div>
                    @Html.LabelFor(p=>p.EmailID)
                    <div>
                        @Html.EditorFor(p=>p.EmailID) <br />
                        @Html.ValidationMessageFor(p=>p.EmailID)
                    </div>
                </div>
                <div>
                    @Html.LabelFor(p=>p.Password)
                    <div>
                        @Html.EditorFor(p=>p.Password) <br />
                        @Html.ValidationMessageFor(p=>p.Password)
                    </div>
                </div>
                <div>
                    EmailID:suresh@gmail.com <br />
                    Password:abc
                </div>
                <div>
                    <input type="submit" value="SignIn" />
                    @Html.ActionLink("Click Here To Register","SignUp","ManageUser")
                </div>
            }
    </div>
</body>
</html>
